@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove Vite's default centering so Tailwind can take over */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden; /* Prevents weird scrolling */
}